services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ev
      POSTGRES_PASSWORD: evpass
      POSTGRES_DB: evdb
    volumes: [dbdata:/var/lib/postgresql/data]
    ports: ["5432:5432"]

  auth_service:
    build: ./auth-service
    environment:
      DATABASE_URL: postgresql+psycopg2://ev:evpass@db:5432/evdb
      JWT_SECRET: supersecret
    depends_on: [db]
    ports: ["5001:5001"] 

  admin_service:
    build: ./admin-service
    environment:
      DATABASE_URL: postgresql+psycopg2://ev:evpass@db:5432/evdb
      JWT_SECRET: supersecret
    depends_on: [db]
    ports: ["5002:5002"]   

  search_service:
    build: ./search-service
    environment:
      DATABASE_URL: postgresql+psycopg2://ev:evpass@db:5432/evdb
    depends_on: [db]
    ports: ["5003:5003"]

  favorites_service:
    build: ./favorites-service
    environment:
      DATABASE_URL: postgresql+psycopg2://ev:evpass@db:5432/evdb
    depends_on: [db]
    ports: ["5004:5004"]

  orders_service:
    build: ./orders-service
    environment:
      DATABASE_URL: postgresql+psycopg2://ev:evpass@db:5432/evdb
    depends_on: [db]
    ports: ["5005:5005"]

  auctions_service:
    build: ./auctions-service
    environment:
      DATABASE_URL: postgresql+psycopg2://ev:evpass@db:5432/evdb
    depends_on: [db]
    ports: ["5006:5006"]

  reviews_service:
    build: ./reviews-service
    environment:
      DATABASE_URL: postgresql+psycopg2://ev:evpass@db:5432/evdb
    depends_on: [db]
    ports: ["5007:5007"]

  transactions_service:
    build: ./transactions-service
    environment:
      DATABASE_URL: postgresql+psycopg2://ev:evpass@db:5432/evdb
    depends_on: [db]
    ports: ["5008:5008"]

  web_gateway:
    build: ./gateway
    environment:
      AUTH_URL:  http://auth_service:5001   
      ADMIN_URL: http://admin_service:5002
      SEARCH_URL: http://search_service:5003
      FAVORITES_URL: http://favorites_service:5004
      ORDERS_URL: http://orders_service:5005
      AUCTIONS_URL: http://auctions_service:5006
      REVIEWS_URL: http://reviews_service:5007
      TRANSACTIONS_URL: http://transactions_service:5008
      GATEWAY_SECRET: dev
      JWT_SECRET: supersecret
    depends_on: [auth_service, admin_service, search_service, favorites_service, orders_service, auctions_service, reviews_service, transactions_service]
    ports: ["8000:8000"]

volumes:
  dbdata:
